{% extends "core/base.html" %}

{% block title %} Rooms | {% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl text-center font-bold text-gray-900 mt-8">Rooms</h1>
</div>
<div class="w-full flex flex-wrap items-center">
    {% for room in rooms %}
    <div class="w-full md:w-1/2 lg:w-1/3 p-2">
        <div class="bg-white rounded-lg shadow-lg p-4">
            <div class="flex flex-wrap items-center">
                <div class="w-full md:w-1/2">
                    <h2 class="text-2xl text-gray-800 font-bold leading-none mb-3">{{ room.name }}</h2>
                </div>
                <div class="w-full md:w-1/2 text-right">
                    <a href="{% url 'room' room.slug %}" class="bg-amber-400 hover:bg-amber-500 text-black font-bold py-2 px-4 rounded">Join</a>
                </div>
            </div>
            <p class="text-gray-600 text-sm mt-2">
                {{ room.description }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
