{% extends "core/base.html" %}

{% block title %} Welcome | {% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl text-center font-bold text-gray-900 mt-8">Welcome to Realtime Chat</h1>
    <p class="text-center text-gray-600 mt-2 px-5">A realtime chat application built with Django Channels and tailwind CSS</p>
    <div class="flex justify-center items-center mt-6">
        <a href="/login" class="bg-amber-400 hover:bg-amber-500 text-black font-bold py-2 px-4 rounded mr-4">Login</a>
        <a href="/register" class="bg-amber-400 hover:bg-amber-500 text-black font-bold py-2 px-4 rounded">Register</a>
    </div>
</div>
{% endblock %}
