<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>{% block title %}{% endblock %}Realtime Chat</title>
        <!-- import tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            #chat-log {
                overflow-y: auto;
            }
            
        </style>
    </head>

    <body class="bg-zinc-200">
        <nav class="flex items-center justify-between px-4 py-6 flex-wrap bg-zinc-800">
            <div>
                <a href="/" class="text-xl text-white">Realtime Chat</a>
            </div>
            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                <a href="/rooms" class="text-white hover:text-gray-200">Chat</a>
                <a href="/logout" class="text-white hover:text-gray-200">Logout</a>
                {% else %}
                <a href="/login" class="text-white hover:text-gray-200">Login</a>
                <a href="/register" class="bg-amber-400 hover:bg-amber-500 text-black font-bold py-2 px-4 rounded">Register</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>