<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>Realtime Chat</title>
        <!-- import tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-blue-200">
        <nav class="flex items-center justify-between px-4 py-6 flex-wrap bg-blue-600">
            <div>
                <a href="/" class="text-xl text-white">Realtime Chat</a>
            </div>
            <div class="flex items-center space-x-4">
                <a href="/login" class="text-white hover:text-gray-200">Login</a>
                <a href="/register" class="text-white hover:text-gray-200">Register</a>
            </div>
        </nav>

        <!-- TODO: Add Welcome Text and Gneric Content -->
        <div class="p-10 lg:p-20 text-center">
            <h1 class="text-3xl font-bold text-gray-900">Welcome to Realtime Chat</h1>
            <p class="text-xl font-light text-gray-600">A realtime chat application built with Django and Django Channels.</p>
            <!-- TODO : Add Photo Slider-->    
        </div>

    </body>
</html>