{% extends "core/base.html" %}
{% block title %} Login | {% endblock %}

{% block content %}
<div class="p-6 lg:p-12 text-center">
    <h1 class="text-2xl lg:text-4xl font-bold text-gray-900 mt-8">Login</h1>
</div>
<form method="post" action="{% url 'login' %}" class="max-w-md mx-auto px-4">
    {% csrf_token %}

    <div class="mb-5">
        <div class="mb-4">
            <label for="username" class="block mb-2 text-sm font-bold text-gray-700">Username</label>
            <input type="text" name="username" id="username" class="border border-gray-400 p-2 w-full rounded" required>
        </div>
        <div class="mb-4">
            <label for="password" class="block mb-2 text-sm font-bold text-gray-700">Password</label>
            <input type="password" name="password" id="password" class="border border-gray-400 p-2 w-full rounded" required>
        </div>
    </div>

    {% if form.errors %}
    <p class="text-red-500 text-sm italic mb-4">
        Invalid Login Information
    </p>
    {% endif %}

    <div class="flex flex-col lg:flex-row items-center justify-between">
        <button class="bg-amber-400 hover:bg-amber-500 text-black font-bold py-2 px-4 rounded mb-4 lg:mb-0" type="submit">Login</button>
        <a class="inline-block font-bold text-sm text-amber-600 hover:text-amber-700" href="/register">Don't have an account?</a>
    </div>
</form>
{% endblock %}
